<manifest xmlns:android="http://schemas.android.com/apk/res/android">



    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|density">

            <!-- 홈 화면 런처 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- 삼성 갤러리 및 타 앱 공유하기 (SEND) -->
            <intent-filter android:label="@string/app_name" android:priority="100">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/jpeg" />
                <data android:mimeType="image/jpg" />
                <data android:mimeType="image/png" />
                <data android:mimeType="image/heic" />
                <data android:mimeType="image/heif" />
                <data android:mimeType="image/webp" />
                <data android:mimeType="image/*" />
            </intent-filter>

            <!-- 삼성 갤러리 다중 공유 (SEND_MULTIPLE) -->
            <intent-filter android:label="@string/app_name" android:priority="100">
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/jpeg" />
                <data android:mimeType="image/jpg" />
                <data android:mimeType="image/png" />
                <data android:mimeType="image/heic" />
                <data android:mimeType="image/heif" />
                <data android:mimeType="image/webp" />
                <data android:mimeType="image/*" />
            </intent-filter>

            <!-- 삼성 갤러리 '다른 앱으로 편집' (EDIT) -->
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/jpeg" />
                <data android:mimeType="image/jpg" />
                <data android:mimeType="image/png" />
                <data android:mimeType="image/heic" />
                <data android:mimeType="image/heif" />
                <data android:mimeType="image/webp" />
                <data android:mimeType="image/*" />
            </intent-filter>

            <!-- 뷰 (VIEW) -->
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

    </application>

</manifest>
